// vim:ft=scss:expandtab:shiftwidth=2:tabstop=4:softtabstop=2
// Will Reed | wreedb@yandex.com | https://github.com/wreedb/wbr-linux
// EWW Configuration | STYLES

* { all: unset; }

.hypr-bar {

  font-family: "Play Nerd Font";
  font-size: 18pt;
  font-weight: 500;
  background-color: #1E1F29;
  color: #EEEEEC;
  border-radius: 5px 5px 5px 5px;

}

.hypr-ws {

  background-color: #272935;
  border-radius: 5 5 5 5;
  
  & > button {
    
    all: unset;
    min-width:  30px;
    min-height: 30px;
    margin: 0 5 0 5;
    color: #EEEEEC;
    border-radius: 5 5 5 5;
  
    &:hover {
    
      all: unset;
      background-color: #858CB4;
      color: #272935;
      border-radius: 5 5 5 5;
      transition: background-color 0.25s ease-in-out 100ms;
      transition: color 0.25s ease-in-out 100ms;
    
    }

  }

}
